body {
    background-image: linear-gradient(#a595ca, #ffff) ;
	background-size: 100%;
    background-attachment: fixed;
	

}

*{
	margin: 0%;
	padding: 0;
	box-sizing: border-box;
	font-family: "open Sans" , sans-serif;
}
	
#menu-h{
	list-style: none;
	background-color:#220B57;
    background-size: 10%;
}
	
#menu-h li{
	display: inline;
		
}

#menu-h li a{
	color: #fff;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	font-family: arial;
	transition: background  .4s;
}

#menu-h li a:hover {
	background-color: #EE217F;}

#menu-h li:last-child a{
	float: right;
	background-color: #EE217F;
    transition: none;
}	

#menu-h li ul{
	position:absolute;
	background-color:#fff;
	display:none
}






h3{
	text-align:center ;
    color:#EE217F;
	margin: 1%;
}

h2{
    text-align:center ;
    color:#EE217F;
	margin: 1%;
}




  P {
	margin: 1%;
	text-align: center;
	}

  div {
	margin: 1%;
  }

  

  

 


  
      
	


  